.navbar {
    display: flex;
    background-color: rgb(251, 27, 27);
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    color: #f4f4f4;
}

.pokeball{
    height: 5vh;
}

.nav-left {
    padding-left: 70px;
}

.nav-right {
    display: flex;
    gap: 50px;
    padding-right: 10px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
}

.pokemon-card {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}